.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .btnGet{
  border-radius: 10px;
  height: 40px;
  width: 80px;
}
